/* .signupForm{
    border: 1px solid black;
    width: max-content;
    padding: 5px;
}
input{
    margin-top: 10px;

}
.i1{
    margin-left: 100px;
}
.i2{
    margin-left: 50px;
}
.i3{
    margin-left: 80px;
}
.i4{
    margin-left: 20px;
}
button{
    margin-left: 100px;
} */
