

.head {
    position: fixed;
    background-color: var(--bg-color);
    /* background-color: white; */
    color: var(--main-color);
    display: flex;  
    flex: 0.9;
    border-bottom: solid 1px rgba(0, 0, 0, 0.150);
    padding-top: 0.2%;
    width: 250vh;
   

}

.head1 {
    margin-left: 1%;
    background-color: var(--bg-color);
}

.head1 .fa-3x {
    background-color: var(--bg-color);
    fill: #008ad3;
    font-size: 42px;
}

.head2 {
    background-color: rgb(243, 250, 255);
    width: 15.5%;
    height: 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 0.3%;
    margin-left: 0.5%;
    padding: 1%;
    color: rgb(146, 146, 146);
}

.head2 .head2-input {
    background-color: rgb(243, 250, 255);
    color: rgb(146, 146, 146);
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 100;
    width: 100px;
    margin-left: 2%;
    flex: 1%;
}

.head3 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 49%;
    padding: 0.5%;
    color: var(--bg-color);
}

.head3-icon:hover {
    cursor: pointer;
}

.head3 .head3-icon {
    margin-left: 11%;
    font-size: 22px;
    font-weight: 100;
    color: var(--bg-color);
    background-color: var(--bg-color);
}

.head4 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    background-color: var(--bg-color);
}

.head4 div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.head4 div .icon{
    font-size: 20px;
    border: 10px solid var(--bg-color);
    border-radius: 50%;
    background-color: var(--bg-color);
}

.DP>img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.togle{
    margin-right: 20px;
}